<?xml version='1.0' encoding='utf-8'?>
<widget id="com.noordinaryapps.myvarsitylife" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MyVarsityLife</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@callback.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <access origin="*" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="ShowSplashScreenSpinner" value="true" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="100000" />
    <feature name="org.apache.cordova.facebook.Connect">
        <param name="ios-package" value="FacebookConnectPlugin" />
    </feature>
    <feature name="SplashScreen">
        <param name="ios-package" value="CDVSplashScreen" />
    </feature>
    <gap:plugin name="com.phonegap.plugins.facebookconnect">
        <param name="APP_ID" value="637471482977634" />
        <param name="APP_NAME" value="MyVarsityLife" />
    </gap:plugin>

</widget>